# Regression

## hdb flat prices 1990 2021 march

__ALL Prices 1990-2021 Mar.csv__

The largest file by far, ALL Prices 1990-2021 Mar.csv, contains over 800k rows of transactions of Singapore Housing Development Board (HDB) resale flats. As the name implies, BTO, SERS, HUDC and private housing are not included, though resale DBSS flat transactions are treated as ordinary HDB flat transactions. Many of the columns in the file are calculated columns or mapped columns (based on supplementary information) like the CPI index and lease percentage columns. For the full metadata/glossary of how I derived these terms, see the bottom of this description and/or the file and column descriptions.ons.

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('../data/row_data/ALL_ Prices1990-2021mar.csv')

In [20]:
data.head()

,month,year,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,...,price_psm_yearly,Core CPI,price cpi_adj,price_psm cpi_adj,bala lease pct,price lease_adj implied,price_psm lease_adj implied,price cpi_lease_adj implied,price_psm cpi_lease_adj implied,year_gni
0,1990-01,1990,ANG MO KIO,2,4 ROOM,308,ANG MO KIO AVE 1,308 ANG MO KIO AVE 1 SINGAPORE,1.365485,103.844025,...,10.997442,61.59,139633.05730,1517.750623,92.9,88869.752422,965.975570,144292.502700,1568.396769,22901
1,1990-01,1990,ANG MO KIO,2,3 ROOM,308,ANG MO KIO AVE 1,308 ANG MO KIO AVE 1 SINGAPORE,1.365485,103.844025,...,8.464849,61.59,95794.77188,1168.228925,92.9,60968.783638,743.521752,98991.368143,1207.211806,22901
2,1990-01,1990,ANG MO KIO,2,3 ROOM,216,ANG MO KIO AVE 1,216 ANG MO KIO AVE 1 SINGAPORE,1.366272,103.841465,...,7.606769,61.59,76635.81750,1049.805719,92.9,48775.026911,668.151054,79193.094510,1084.836911,22901
3,1990-01,1990,ANG MO KIO,2,3 ROOM,308,ANG MO KIO AVE 1,308 ANG MO KIO AVE 1 SINGAPORE,1.365485,103.844025,...,8.287972,61.59,76635.81750,1143.818172,92.9,48775.026911,727.985476,79193.094510,1181.986486,22901
4,1990-01,1990,ANG MO KIO,2,4 ROOM,211,ANG MO KIO AVE 3,211 ANG MO KIO AVE 3 SINGAPORE,1.369226,103.841652,...,11.484353,61.59,129891.21610,1603.595261,93.3,82315.112540,1016.235957,133650.125891,1650.001555,22901

In [21]:
data.columns

Index(['month', 'year', 'town', 'town_dummy', 'flat_type', 'block',
       'street_name', 'address', 'latitude', 'longitude', 'storey_range',
       'storey', 'area_sqm', 'flat_model', 'lease_start', 'lease_rem',
       'resale_price', 'price_psm', 'price_psm_yearly', 'Core CPI',
       'price cpi_adj', 'price_psm cpi_adj', 'bala lease pct',
       'price lease_adj implied', 'price_psm lease_adj implied',
       'price cpi_lease_adj implied', 'price_psm cpi_lease_adj implied',
       'year_gni'],
      dtype='object')

In [22]:
data = data.drop(columns=['month',
                          'town_dummy',
                         'street_name',
                         'address',
                         'storey_range',
                         'storey',
                         'lease_start',
                         'lease_rem',
                         'price_psm',
                         'price_psm_yearly',
                         'Core CPI',
                         'latitude',
                         'longitude',
                         'price cpi_adj',
                         'price_psm cpi_adj',
                         'bala lease pct',
                         'price lease_adj implied',
                         'price_psm lease_adj implied',
                         'price_psm cpi_lease_adj implied',
                         'year_gni',
                         'price cpi_lease_adj implied',
                         'flat_model'])

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
X = data.drop(columns='resale_price')
y = data['resale_price']

In [25]:
LE = LabelEncoder()

In [26]:
data['flat_type']

0         4 ROOM
1         3 ROOM
2         3 ROOM
3         3 ROOM
4         4 ROOM
           ...
840913    3 ROOM
840914    3 ROOM
840915    2 ROOM
840916    2 ROOM
840917    2 ROOM
Name: flat_type, Length: 840918, dtype: object

In [27]:
X['town'] = LE.fit_transform(X['town'])
X['flat_type'] = LE.fit_transform(X['flat_type'])
X['block'] = LE.fit_transform(X['block'])

In [28]:
X['flat_type']

0         3
1         2
2         2
3         2
4         3
         ..
840913    2
840914    2
840915    1
840916    1
840917    1
Name: flat_type, Length: 840918, dtype: int32

In [29]:
from sklearn.preprocessing import MaxAbsScaler

In [30]:
X[['area_sqm']] = MaxAbsScaler().fit_transform(X[['area_sqm']])
X[['year']] = MaxAbsScaler().fit_transform(X[['year']])

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.6, random_state=1111)

In [33]:
X_train

            year  town  flat_type  block  area_sqm
242817  0.989114    14          2    354  0.228013
726721  0.997031    25          4   2358  0.384365
211304  0.988619    13          3    427  0.283388
29963   0.985651     2          4    112  0.394137
568308  0.994062     3          2    189  0.237785
...          ...   ...        ...    ...       ...
598690  0.994557    23          3    475  0.319218
290188  0.989609     7          2    643  0.241042
372049  0.990599    25          3   2243  0.273616
377143  0.990599    11          4   2394  0.390879
387484  0.990599    26          2   1702  0.237785

[336367 rows x 5 columns]

In [34]:
#I USED THE FOLLOWING TO CREATE THE DATA
X_train.to_csv('../data/flat_data/5F/X_train_5F.csv', encoding='utf-8', index=False)
y_train.to_csv('../data/flat_data/5F/y_train_5F.csv', encoding='utf-8', index=False)
X_test.to_csv('../data/flat_data/5F/X_test_5F.csv', encoding='utf-8', index=False)
y_test.to_csv('../data/flat_data/5F/y_test_5F.csv', encoding='utf-8', index=False)